<div class="container">
    <div class="img"
        style="    background-image: linear-gradient(150deg, rgba(63, 174, 255, .3)15%, rgba(63, 174, 255, .3)70%, rgba(63, 174, 255, .3)94%), url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);height: 350px;background-size: cover;">
    </div>
    <div class="card social-prof">
        <div class="card-body">
            <div class="wrapper">
                <label for="myfile" id="add">
                    <img [src]="userDetailsData.image" alt="" class="user-profile" title="Upload Image"
                        style="cursor: pointer;">
                </label>
                <input type="file" id="myfile" name="image" accept="image" class="d-none"
                    (change)="changeUserImage($event)">
                <h3>{{userDetailsData.name}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li *ngFor="let song of songsData" class="list-group-item">
                        <h5 class="card-title">
                            {{song.songName}}
                        </h5>
                        <audio controls [src]=urlSanitizer(song.song) style="width: 100%;">
                        </audio>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 gedf-main">
            <!-- Post /////-->
            <!--- \\\\\\\Post-->
            <div class="card social-timeline-card" *ngFor="let playList of playListsData"
                (click)="getSongsOfPlaylist(playList.playListName)">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <!-- <img class="rounded-circle" width="45"
                                    [src]="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> -->
                                <img class="rounded-circle" width="45" [src]="userDetailsData.image" alt="">

                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0 text-blue">@JaneSmith</div>
                                <div class="h7 text-muted">Miracles Lee Cross</div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop11"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Hide</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
                    <a class="card-link">
                        <h5 class="card-title">{{playList.playListName}}</h5>
                    </a>
                    <!-- <img src="img/gallery/1a.jpg" alt="" class="img-fluid"> -->

                </div>
                <div class="card-footer">
                    <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                    <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <label for="playListUpload" class="btn btn-danger btn-block">Import PlayList Here</label>
                    <input type="file" id="playListUpload" multiple="multiple" accept="audio/*" style="display: none"
                        (change)="onFileChange($event)" (click)="getPLayListName()">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card social-timeline-card">
                <div class="card-body">
                    <h5 class="card-title">Serach Here For Friend</h5>
                    <ul class="friend-list">
                        <li>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Find Friend"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2"
                                    [(ngModel)]="searchedUserName">
                                <span class="input-group-text" id="basic-addon2" (click)="getSearchedFriend()"><i
                                        class="fa fa-search text-primary"></i></span>
                            </div>
                        </li>
                        <li *ngIf="userSerched" class="d-flex" style="cursor: auto;">
                            <div class="left p-2">
                                <img [src]="searchedUserData.image" alt="" style="margin-right: 0px;">
                            </div>
                            <div class="right p-2" style="margin-left: 0px;">
                                <h3>{{searchedUserData.userName}}</h3>
                            </div>
                            <div *ngIf="!friends" class="ml-auto p-2 left">
                                <i class="fa fa-plus-circle fa-2x" style="color: #047bfd; cursor: pointer;" (click) = "sendFriendRequest(searchedUserData)"></i>
                            </div>
                        </li>
                        <li *ngIf="!userSerched">
                            <div class="left">
                                <div><i class="fa fa-user"></i></div>
                            </div>
                            <div class="right ml-2">
                                <h3>{{searchedUserData.message || 'Serch Result'}}</h3>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="card social-timeline-card">
                <div class="card-body">
                    <h5 class="card-title">Your Loved Once</h5>
                    <ul class="friend-list">
                        <li *ngFor="let friend of friendListData">
                            <div class="left">
                                <img [src]="friend.image" alt="">
                            </div>
                            <div class="right">
                                <h3>{{friend.userName}}</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card social-timeline-card">
                <div class="card-body">
                    <h5 class="card-title">Pending Requests</h5>
                    <ul class="friend-list">
                        <li *ngFor="let friend of pendingRequestsData">
                            <div class="left">
                                <img [src]="friend.image" alt="">
                            </div>
                            <div class="right">
                                <h3>{{friend.userName}}</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>